@import "tailwindcss";

button, link {
  cursor: pointer;
}

.scrollbar-dark {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #18181b #09090b;      /* thumb | track */
}

/* Chrome / Edge / Safari */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 REAL */
  border-radius: 999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  border: 2px solid transparent;
  transition: background 0.25s ease;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #27272a; /* zinc-800 */
}

.scrollbar-dark::-webkit-scrollbar-corner {
  background: #09090b;
}
 

.countdown-root {
  font-family: 'Michroma', sans-serif;
}

.cd-blur-layer {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  mask-image: linear-gradient(
    to bottom,
    black 75%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 75%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
}

.cd-value {
  text-shadow:
    0 0 18px rgba(245, 197, 24, 0.65),
    0 0 40px rgba(245, 197, 24, 0.25);
}

.cd-btn-ring {
  box-shadow:
    0 0 8px rgba(245,197,24,.7),
    0 0 22px rgba(245,197,24,.35),
    inset 0 0 8px rgba(245,197,24,.15);

  transition: box-shadow .2s ease;
}

.cd-btn:hover .cd-btn-ring {
  box-shadow:
    0 0 14px rgba(245,197,24,.9),
    0 0 40px rgba(245,197,24,.5),
    inset 0 0 12px rgba(245,197,24,.25);
}

.cd-btn-ring svg,
.cd-arrow-above,
.cd-arrows svg {
  filter: drop-shadow(
    0 0 3px rgba(245,197,24,.7)
  );
}

.cd-arrow-above,
.cd-arrows svg {
  animation: nfs-arrows .8s ease-in-out infinite;
}

.cd-arrows svg:nth-child(2) {
  animation-delay: .18s;
}

.cd-arrows svg:nth-child(3) {
  animation-delay: .36s;
}

@keyframes nfs-arrows {
  0% {
    transform: translateY(6px);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translateY(-6px);
    opacity: 0;
  }
}