@import "tailwindcss";


.scrollbar-dark {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #18181b #09090b;      /* thumb | track */
}

/* Chrome / Edge / Safari */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 REAL */
  border-radius: 999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  border: 2px solid transparent;
  transition: background 0.25s ease;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #27272a; /* zinc-800 */
}

.scrollbar-dark::-webkit-scrollbar-corner {
  background: #09090b;
}

